@import "../variables";

.coffee-block {
  position: relative;
  border: 1px solid rgba(199, 199, 199, 0.63);
  border-radius: 25px;

  width: 500px;
  height: 500px;

  padding: 15px;
  box-shadow: 0 0 5px 5px #f3f3f3;

  transition: 0.2s all;

  width: 280px;
  text-align: center;
  margin-bottom: 20px;

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bot {
    position: absolute;
    bottom: 15px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }
  &:hover {
    transform: scale(1.05);
  }
}

@media (max-width: 495px) {
  .coffee-block {
    transform: scale(0.8);
    &:hover {
      transform: scale(0.9);
    }
  }
}
@media (max-width: 390px) {
  .coffee-block {
    transform: scale(0.7);
    &:hover {
      transform: scale(0.9);
    }
  }
}
